/*
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-duration: 0.2s;
}

html {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	color: gray;
	line-height: 1.4;
	background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Oswald', sans-serif;

}

a {
	color: white;
}

ul {
	list-style: none;
}

h3.title {
	color: #131633;
	text-transform: capitalize;
	font-size: 2.5em;
	margin-bottom: 35px;
	text-align: center;
}

hr {
	width: 150px;
	height: 2px;
	background-color: #2196f3;
	border: 0;
	margin: 40px auto;
}

a.btn {
	color: white;
	background-color: #131633;
	text-decoration: none;
	padding: 0.6em 1em;
	margin: 1em;
	border-radius: 0.5em;
	text-align: center;
	opacity: 1;
}

a.btn:hover {
	background-color: #2196f3;
	text-decoration: underline;
}

/* -----------------------------
HEADER
------------------------------*/

header {
	background-color: rgba(0, 0, 0, .7);
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	color: white;
	padding: 20px 100px 20px;

	display: flex;
	justify-content: space-around;
	align-items: center;

}

header a {
	text-decoration: none;
	color: white;
	opacity: 0.6;
	cursor: pointer;

}

header a:hover {
	opacity: 1;
	text-decoration: underline;
}

header nav ul {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

header nav li {
	margin: 0 15px;

}

header nav li:first-child {
	margin-left: 0;

}

header nav li:last-child {
	margin-right: 0;

}

@media(max-width:1000px) {
	header {
		text-align: center;
		flex-direction: column;
		padding: 20px 50px;

	}

	header img {
		width: 75%
	}

	header nav {
		justify-content: space-around
	}

	header h2 {
		margin-bottom: 15px;
	}

}

/* -----------------------------
HERO
------------------------------*/
#hero {
	background: gray;
	color: white;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('img/top.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 50%;
}

#hero h1,
#hero h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 2rem;
	text-shadow: 2px 2px #000;
	margin-bottom: 3rem;
}

#hero h1 {
	font-size: 5rem;
	margin-bottom: 1rem;
}

#hero a.btn {
	text-decoration: none;
	padding: 0.6em 1em;
	opacity: 0.95;
	margin: 1em;
	border-radius: 0.5em;
	text-align: center;
}

#hero a.btn:hover {
	background-color: #2196f3;
	opacity: 1;
	text-decoration: underline;
}

@media(max-width:800px) {

	#hero {
		min-height: 50%;
	}

	#hero h1 {
		font-size: 3em;
		margin-bottom: 30px;
	}

	#hero h3 {
		font-size: 1.5em;
	}

	#hero a.btn {
		font-size: 0.8em;
		padding: 1em 1em;
	}
}


/* -----------------------------
ABOUT
------------------------------*/

#about {
	padding: 10px;
	background-color: #f7f7f7;
	margin-bottom: 20px;
}

#two-cols {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.about-img {
	border: 4px solid #2196f3;
	background-color: #2196f3;
}

.about-bio {
	width: 65%;
	max-height: 800px;
	max-width: 1200px;
	line-height: 2;
	margin-left: 20px;
}

@media(max-width:600px) {

	#about,
	#two-cols {
		flex-direction: column;
	}

	.about-bio {
		margin-top: 20px;
		line-height: 1.5;
		text-align: left;
	}
}

/* -----------------------------
Projects
------------------------------*/

#projects {
	background-color: white;
	display: flex;
	flex-direction: column;
	color: #131633;
	padding: 2em;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#projects .project {
	border: 0.1em solid black;
	margin: 1em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 1200px;
}

#projects .project:hover {
	box-shadow: 50px #888888;
}

#projects .project-title {
	font-size: 2.5em;
	text-align: center;
	padding: 10px;
}

#projects img {
	align-content: center;
	justify-content: center;
	text-align: center;
	max-width: 100%;
	max-height: 100%;
}

#projects .side-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#projects .project-img {
	height: 25em;
	margin: auto;
	padding: 1em;
	width: 100%;
}

#projects .project-desc {
	padding: 0.8em 0.8em;
	height: 8em;
	text-align: justify;
	list-style-type: circle;
}

#projects ul {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto 35px;
	padding: 0 20px;
	line-height: 1.6;
}

#projects .project-desc li {
	margin-left: 15px;
}

#projects .project-links {
	font-size: 1em;
	margin-top: 60px;
	height: 5em;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
}

#projects .project-links a {
	padding: 20px;
}

#projects a.btn {
	padding: 1em;
}

@media(max-width:950px) {
	#projects .project {
		flex-direction: column;
	}
}

@media(max-width:550px) {
	#projects .project-links {
		flex-direction: column;
		margin-top: 160px;
		padding-bottom: 80px;
		font-size: em
	}
}

/* -----------------------------
FOOTER
------------------------------*/
footer {
	background-color: #131622;
	color: white;
	text-align: center;
	background: linear-gradient(to bottom, #284e7a, #000 100%);
	padding: 4rem 0;

	display: flex;
	flex-direction: column;
	align-items: center;
}

footer p {
	text-transform: uppercase;
	font-size: 1rem;
	color: rgba(255, 255, 255, .6);
	margin-bottom: 1rem;
}

footer ul {
	margin-bottom: 2rem;
	display: flex;
	flex-direction: row;
}

footer ul li {
	margin: 0 0.5rem;
}

footer ul li a {
	font-size: 3rem;
	cursor: pointer;
}

footer ul li a:hover {
	transition-delay: 0s;
	animation-delay: 0s;
	color: black;
}


@media(max-width:800px) {
	footer {
		padding: 80px 15px;
	}
}
